p {
    font-family: 'Roboto', sans-serif;
}

.pagina mx-auto my-auto

.parteIzquierda{
    height: 100%;
    background-color: #3C4749;

}

.photo{
    width: 500px;
    padding-left: 100px;
    
}
.photo img{
    width: 90%;
    height: 300px;
    margin: 20px 20px;
    border-radius: 300px;

}

.infoPersonal{
    padding: 10px 20px;
    font-size: large;
    line-height: 1.7em;
}

.contenedorTitulo{
    width: 100%;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 20px;
    margin-top: 0;
}

header{
    background-color: #3C4749;
    width: 100%;
}

.pagina, .row{
    width: 1440px;
    height: 1024px;
}

.acercaDeMi, .competencias ,.educacion{
    background: #828282;
    width: 100%;
    height: 959px;
}

.texto p{
    line-height: 2.5em;
}

.barraDeProgreso{
    width: 80%;
    margin: 0px auto;
}

.tituloExp{
    margin-left: 20px;
    margin-bottom: 20px;
}

.logos{
    font-size: 1.6em;
}